body {
    width: 100vw;
}

.main {
    width: 80%;
    margin: 0 auto;
}

.cards-container {
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 30px;
    justify-content: flex-start;
    
}

.card {
    border: 1px solid grey;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 30%;
}

.img {
    max-width: 100%;
    border-top-left-radius: 20px;
}

.card__name, h1 {
    text-align: center;
}

.card__name, p {
    margin-left: 15px;
    margin-right: 15px;
    overflow-wrap: anywhere;
}

@media (max-width: 767px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.3em;
    }
    .cards-container {
        justify-content: center;
    }
    .card {
        width: 80%;
    }    
}

@media (min-width: 767px) and (max-width: 1023px) {
    .cards-container {
        column-gap: 50px;
        justify-content: center;
    }
    .card {
        width: 40%;
    }  
}