body {
    width: 100vw;
}

.main {
    width: 80%;
    margin: 0 auto;
}

.cards-container {
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* row-gap: 20px; */
    justify-content: space-around;
    
}

.card {
    width: 45%;
    width: 45%;
    border: 1px solid grey;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 50px;
}

.img {
    width: 100%;
    border-top-left-radius: 20px;
}

.card__name, h1 {
    text-align: center;
}

p {
    margin-left: 20px;
    margin-right: 20px;
    overflow-wrap: anywhere;
}

p {
    font-size: 18px;
}


/* стили для рейтинга */
  .rating-area {
	overflow: hidden;
	width: 265px;
	margin: 0 auto;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 42px;
	padding: 0;
	cursor: pointer;
	font-size: 32px;
	line-height: 32px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}



@media (min-width: 767px) and (max-width: 1023px) {
    .cards-container {
        justify-content: center;
    }
    .card {
        width: 80%;
    } 
}


@media (max-width: 767px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }
    .cards-container {
        justify-content: center;
    }
    .card {
        width: 80%;
    }    
}